.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .modal-container {
    min-width: 320px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header {
    padding: 15px 20px;
    background: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }

  .modal-body {
    padding: 10px 20px;
    margin: 20px 0;
  }
  
  .modal-footer {
    padding: 10px 20px;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
  }
  
  .modal-default-button {
    float: right;
  }
  