$overlay-bg: rgba(115, 115, 115, 0.5);
$text-color: #2c3e50;

$app-green: #08a742;
$app-warn: #ffe8a9;

$darker-grey: #3c3c3c;
$dark-grey: #4e4e4e;
$light-grey: #8a8a8a;

$badge-blue: #d2dbfb;
$badge-dark-blue: #40408e;