@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

p {
    margin: 0 0 5px 0;
}

h3 {
    margin: 5px 0;
}

button {
    cursor: pointer;
}

.btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 15px;
    font-weight: bold;

    &.btn-primary {
        background: #08a742;
        color: #fff;
        border-color: #08a742;
    }

    &.btn-warn {
        background: #ffe8a9;
        border-color: #ffe8a9;
    }
}

.close-btn {
    border: none;
    background: transparent;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-semi-bold {
    font-weight: 600;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
        margin-bottom: 5px;
    }

    .form-error {
        color: red;
        font-size: 12px;
        margin: 5px 0 0 0;
        padding: 0 5px;
    }
}

input,
select {
    border-radius: 50px;
    background: #e2e2e2;
    border: none;
    padding: 10px 20px;

    &:focus {
        outline: none;
    }
}