button {
    cursor: pointer;
}

.btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 15px;
    font-weight: bold;

    &.btn-primary {
        background: $app-green;
        color: #fff;
        border-color: $app-green;
    }

    &.btn-warn {
        background: $app-warn;
        border-color: $app-warn;
    }
}

.close-btn {
    border: none;
    background: transparent;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
        margin-bottom: 5px;
    }

    .form-error {
        color: red;
        font-size: 12px;
        margin: 5px 0 0 0;
        padding: 0 5px;
    }
}

input,
select {
    border-radius: 50px;
    background: #e2e2e2;
    border: none;
    padding: 10px 20px;

    &:focus {
        outline: none;
    }
}