<div class="form-group">
    <label for="name">Name *</label>
    <input v-model="formData.name" type="text" name="name" placeholder="Name">
    <p class="form-error">{{ validation?.name?.$errors[0]?.$message }}</p>
</div>
<div class="form-group">
    <label for="owner_id">Owner ID</label>
    <input v-model="formData.owner_id" type="number" name="owner_id" placeholder="Owner ID">
    <p class="form-error">{{ validation?.owner_id?.$errors[0]?.$message }}</p>
</div>
<div class="form-group">
    <label for="org_id">Organization ID</label>
    <input v-model="formData.org_id" type="number" name="org_id" placeholder="Organization ID">
    <p class="form-error">{{ validation?.org_id?.$errors[0]?.$message }}</p>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input v-model="formData.email" type="email" name="email" placeholder="Email">
    <p class="form-error">{{ validation?.email?.$errors[0]?.$message }}</p>
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input v-model="formData.phone" type="text" name="phone" placeholder="Phone">
    <p class="form-error">{{ validation?.phone?.$errors[0]?.$message }}</p>
    <p v-if="validation?.phone?.$errors[0]?.$validator === 'phoneValidator'" class="form-error">Invalid format</p>
</div>
<div class="form-group">
    <label for="visible_to">Visible to</label>
    <select v-model="formData.visible_to" name="visible_to">
        <option>1</option>
        <option>3</option>
    </select>
    <p class="form-error">{{ validation?.visible_to?.$errors[0]?.$message }}</p>
</div>