.person-name {
    margin-top: 15px;
}

.person-phone {
    color: $app-green;
}

hr {
    margin: 25px 0;
}

.person-details-container {
    p {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .person-details-data-type {
        color: $dark-grey;
        font-weight: bold;
    }

    .person-details-data {
        color: $light-grey;
        margin-left: 20px;
    }
}