<div>
    <puPersonPicture :person="person" :size="'M'"></puPersonPicture>
    <p class="person-name text-bold text-center">
        {{person.name}}
    </p>
    <p class="person-phone text-center">
        {{person.phone[0].value}}
    </p>
    <hr>
    <div class="person-details-container d-flex">
        <div class="person-details-data-type text-right">
            <p>Email</p>
            <p>Organization</p>
            <p>Assistant</p>
            <p>Groups</p>
            <p>Location</p>
        </div>
        <div class="person-details-data">
            <p>{{person.email.length && person.email[0].value ? person.email[0].value : '&nbsp;'}}</p>
            <p>{{person.org_name ? person.org_name : '&nbsp;'}}</p>
            <p>{{person['c2355da0375af706c0088f9998332eb12604b473'] ? person['c2355da0375af706c0088f9998332eb12604b473'] : '&nbsp;'}}</p>
            <p>{{person['18ae195b582c7c4eb8b0ffaff38a69f5bf09b558'] ? person['18ae195b582c7c4eb8b0ffaff38a69f5bf09b558'] : '&nbsp;'}}</p>
            <p>{{person.org_id ? person.org_id.address : '&nbsp;'}}</p>
        </div>
    </div>
</div>