.person-name {
    margin-top: 15px;
}

.person-phone {
    color: #08a742;
}

hr {
    margin: 25px 0;
}

.person-details-container {
    p {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .person-details-data-type {
        color: #4e4e4e;
        font-weight: bold;
    }

    .person-details-data {
        color: #8a8a8a;
        margin-left: 20px;
    }
}